.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem;
    padding: 0.5rem;
    width: 250px;
    height: 400px;
    background-color: rgb(231, 224, 224);
    align-items: center;
    text-align: center;

img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    
}
 
.card-title{
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
}

.recipe_type{
    text-transform: uppercase;
    font-size: small;
}

}